<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cordova Hot Code Push</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <script src="/connect/assets/jquery.min.js"></script>
  <script src="/connect/assets/qrcode.min.js"></script>
  <script src="/connect/assets/scripts.js"></script>
  <link rel="stylesheet" href="/connect/assets/styles.css">
</head>

<body>

  <h1>Cordova Hot Code Push</h1>
  Local Config: <a href="{{localUrl}}" target="_blank">{{local_url}}/chcp.json</a><br>
  Public Config: <a href="{{publicUrl}}" target="_blank">{{content_url}}/chcp.json</a><br>
  {{#if console_url}}
    <br>
    Debug Console: <a href="{{consoleUrl}}" target="_blank">{{console_url}}</a><br>
  {{/if}}
  <br><br><br>
  <h4>Scan in app:</h4>
  <div id="qrcode"></div>

  <script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), "{{content_url}}/chcp.json");
  </script>

</body>
</html>
